:root {
  --color1: rgba(255, 125, 41, 1);
  --color2: rgba(0, 37, 148, 1)
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 16px;
}
.app {
  background-image: linear-gradient(180deg, rgba(255, 125, 41, 1) 50%, rgba(0, 37, 148, 1) 50%);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #fafbc4f4;
  backdrop-filter: blur(15px);
  width: 30rem;
  height: auto;
  border-radius: 2rem;
  padding: 1.5rem 1rem 3rem;
  margin: 3rem 0;
  box-shadow: 5px 5px 10px #000000;
}
.title-header h1,
.title-header span {
  text-align: center;
  color: var(--color2);
  font-size: 2.6rem;
  line-height: 1.5;
  margin: 1rem 0;
  font-weight: 900;
}
.title-header h1 {
  color: var(--color1);
}
.title-header span {
  color: var(--color2);
}
.form-control {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.text-input {
  width: 70%;
  background-color: transparent;
  border: 4px solid var(--color1);
  border-radius: 10px;
  margin: 0 0.8rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color);
  padding: 0.8rem;
}
.text-input:focus {
  outline: none;
  color: var(--color2);
  font-weight: 600;
}
.text-input::placeholder {
  color: rgb(248, 174, 125);
  font-weight: 600;
}
.submit-btn {
  width: 15%;
  background-color: var(--color1);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
  transition:0.2s ease;
}
.submit-btn:hover {
  transform: scale(1.1);
}

.footer p{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #04011a;
  color: #fff;
  font-size: 1rem;
}

@media (max-width: 768px) {
  *{
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  *{
    font-size: 10px;
  }
}